*{margin:0;
padding: 0;}
.googlelogo {
    display: flex;
    justify-content: center;
}

.searcarea {

    width: 90%;
    height: 60px;
    background-color: rgba(238, 238, 238, 255);
    margin: auto;
}

.searcarea p {
    display: flex;
    justify-content: center;
    margin: 0;
}

.searcarea #search {
    width: 300px;
    display: flex;
    margin: auto;
}

.flex-parent {
    display: flex;
    min-height: 0px;
}

.jc-center {
    justify-content: center;
}

.greenbox {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    height: 75px;
    font-size: 13px;

}

.greenbox1 {
    width: 33%;
    background: rgba(126,229,218,255);
    justify-content: center;
    padding-top: 10px;

}
.greenbox1 p{
    display: flex;
    justify-content: center;
}
.greenbox1 a{
    display: flex;
    justify-content: center;
}

.greenbox2 {
    width: 17%;
    background: rgba(112,204,194,255);
    margin-left: 2px;
    

}
.greenbox2 p{
    display: flex;
    justify-content: center;
}
.greenbox2 a{
    display: flex;
    justify-content: center;
    
    
    
}
.greenbox2 li{
    list-style-type:none;
}

.greenbox3 {
    width: 40%;
    background: rgba(98,179,170,255);
    margin-left: 2px;
    

}

.greenbox3 p{
    display: flex;
    justify-content: center;
}
.greenbox3 a{
    display: flex;
    justify-content: center;
    
    
}
.greenbox3 li{
    list-style-type:none;
}

#inputmail{
        width: 180px;
        display: flex;
        margin: auto;
    
}


.archives{
    font-size: 13px;
    padding-top: 5px;
}
